* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 500;
}
#import-song,
#settings-btn {
  height: 40px;
  width: 130px;
  margin: 10px;
  border-radius: 5px;
  background: #2ecc71;
  border: none;
  color: #ffffff;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
#import-song:hover,
#settings-btn:hover {
  background: #27ae60;
}
.library {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.library .music {
  height: 100px;
  width: 200px;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  position: relative;
  cursor: pointer;
}
.library .music i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
}
.library .music h1 {
  font-size: 20px;
}
.import-file-bcg,
.import-dir-bcg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.import-file-bcg {
  display: none;
}
.import-dir-bcg {
  display: none;
}
.import-file-bcg .import-file,
.import-dir-bcg .import-dir {
  height: 300px;
  width: 300px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.import-file-bcg .import-file input[type="text"],
.import-file button {
  margin: 10px 0;
}
.import-file-bcg .import-file i {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #707070;
  cursor: pointer;
}
.import-file-bcg .import-file input[type="file"] {
  display: none;
}
.import-file-bcg .import-file button,
.import-dir-bcg .import-dir button,
.settings button {
  height: 40px;
  width: 130px;
  border-radius: 5px;
  background: #2ecc71;
  border: none;
  color: #ffffff;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.import-file-bcg .import-file button:hover,
.import-dir-bcg .import-dir button:hover,
.settings button:hover {
  background: #27ae60;
}
.import-file-bcg .import-file input[type="text"],
.import-dir-bcg .import-dir input[type="text"] {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 15px;
  padding: 5px;
  outline: none;
}
.import-file-bcg .import-file h3 {
  line-height: 40px;
}
.import-dir-bcg .import-dir input[type="text"] {
  margin: 10px 0;
}
.play-section {
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px solid #e0e0e0;
  width: 100%;
  height: 100px;
  padding: 5px;
}
.play-section #release {
  pointer-events: none;
  position: absolute;
  left: 20px;
  bottom: 0;
}
.play-section .play h3,
.play-section .play input[type="range"] {
  margin: 5px 0;
}
.play-section .play input[type="range"] {
  display: none;
  width: 300px;
}
.play-section .play .play-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-section .play .play-controls i {
  font-size: 30px;
  display: block;
  margin: 5px 10px;
  color: #2ecc71;
  transition: 0.25s;
  cursor: pointer;
}
.play-section .play .play-controls i:hover {
  color: #27ae60;
}
.play-section .play .play-controls #loop {
  color: #000000;
  font-size: 15px;
}
.play-section .volume {
  position: absolute;
  top: 80px;
  right: 20px;
}
.settings {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.settings .settings-dir h1,
.settings-dir input[type="text"] {
  margin: 10px 0;
}
.settings .settings-dir input[type="text"] {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 15px;
  padding: 5px;
  outline: none;
}
.hr {
  height: 10px;
  width: 500px;
  margin: 10px 0;
  background: #e0e0e0;
  border-radius: 24px;
}
